@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/power.ttf') format('truetype'),
    local('Ubuntu Condensed');
    font-display: swap
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
    background: #4B79A1; 
    background: no-repeat linear-gradient(to top, #283E51, #4B79A1); 
}

header {
    padding: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
    text-shadow: 0 4px 3px rgba(0,0,0,.25);
}

button {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #283E51;
    border-bottom: 4px solid #4B79A1;
    transition: .3s;
    font-size: 19px;
}

nav > a {
    text-decoration: none;
}

nav > a > button {
    display: block;
    padding: 15px 20px;
    margin: 0 auto;
}

nav > a > button:hover {
    background-color: #4B79A1;
    border-color: #283E51;
}

nav > .scroll-down {
    display: block;
    max-width: 40px;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 40px;
    color: #4B79A1;
    transition: .3s;
    text-shadow: 0 2px 3px #283E51;
}

nav > .scroll-down:hover {
    opacity: .5;
    transform: scale(.9);
}

main {
    padding: 30px;
    display: block;
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #283E51; 
}

#alert {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 50px;
    width: 200px;
}

@keyframes display-alert {
    from {
        right: -100%;
    } 
    to {
        right: 0;
    }
}

.alert-box {
    animation: display-alert .3s;
    color: #444;
    background-color: #fff;
    box-shadow: none;
    border-radius: 12px;
    padding: 10px 10px 10px 15px;
    margin-top: 20px;
    box-shadow: 0 8px 8px rgba(0,0,0,.25);
    float: left;
    transition: .3s;
}

.alert-box > #alert-close {
    width: 10%;
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.alert-box > #alert-close:hover {
    opacity: .75;
}

.alert-box > .alert-title {
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
    width: 90%;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
}

.success > .alert-title {
    color: #4CAF50;
}

.error > .alert-title {
    color: #EF5350;
}

.alert-box > .alert-text {
    float: left;
    width: 100%;
    font-size: 16px;
}

.content {
    margin: 0 auto;
    width: 70%;
}

table {
    color: #444;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0,0,0,.25);
}

table, th, td {
    border: 2px solid #ddd;
}

td, th {
    padding: 15px 20px;
}

th {
    text-shadow: 0 2px 1px rgba(0,0,0,.25);
    font-weight: normal;
    background-color: #4B79A1;
    color: #fff;
    font-size: 20px;
}

td {
    font-size: 16px;
}

tr {
    transition: .3s;
}

tr:hover {
    cursor: pointer;
    background-color: #ddd;
}

#selected {
    background-color: #ddd;
}

.actions {
    width: 100%;
    padding: 15px 0;
}

.actions > button {
    box-shadow: 4px 0 8px rgba(0, 0, 0, .25), -4px 0 8px rgba(0, 0, 0, .25);
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    width: calc(100% / 4 - 10px);
    background-color: #4B79A1;
    border-color: #fff;
}

.actions > button:first-child {
    margin-left: 0;
}

.actions > button:hover {
    background-color: #283E51;
    border-color: #4B79A1;
}

input {
    border: none;
    border-radius: 8px;
    background-color: #ededed;
    border-bottom: 2px solid #4B79A1;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}